<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Performances

    <a data-toggle="collapse" href="#exercise_performances_new_form">
      Add performance
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @exercise.performances.each do |performance| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/performances/<%= performance.id %>">
          <%= performance.workout_id %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_performance_from_exercise/<%= performance.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="exercise_performances_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
